.bannerTitle {
    position: absolute;
    text-align: center;
    letter-spacing: 0.15em;
    color: white;
    background-color: rgb(0, 0, 0);
    font: normal normal 70px/2.4em sans-serif;
    width: 100%;
    font-weight: lighter;
}